* {
    border: none;
    border-radius: 0px;
    /* font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK; */
    font-family: "Comic Sans MS";
    /* font-family: "Maple Mono"; */
    /* font-family: ComicShanns mono nerd font; */
    font-size: 15px;
    /* font-style: normal; */
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    /* border-bottom: 1px solid #9400D3; */
    /* border-bottom-color: #00FF00; */
  border-style: solid;
  border-width: 0px 2px 3px 2px;
  /* border-image: linear-gradient(45deg,rgba(255,0,0,0.7),rgba(255,127,0,0.7),rgba(255,255,0,0.7),rgba(0,255,0,0.7),rgba(0,0,255,0.7),rgba(75,0,130,0.7),rgba(148,0,211,0.7)) 1; */
  /* border: rgba(255, 215, 0, 1); */
    /* border: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);; */
    color: rgba(255, 215, 0, 0.7);
}

#workspaces {
  background-color: rgba(30, 30, 46, 0.6);
	margin: 7px 3px 7px 3px;
  padding: 0px 2px 0px 0px;
	border-radius: 20px;
  /* border: solid 0px #f4d9e1; */
  font-weight: bold;
  font-style: normal;
  font-size: 2px;
}
#workspaces button {
    padding: 0px 5px;
    border-radius: 24px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
    border-radius: 24px;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 24px;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall, #custom-launcher {
	background: transparent;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
  border-radius: 24px;
  border: solid 0px #f4d9e1;
}

.modules-center {
    background-color: rgba(30, 30, 46, 0.6);
    border-radius: 24px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 7px;
} 

#custom-date {
	color: #D3869B;
}

#custom-power {
	color: #D3869B;
	background-color: black;
	border-radius: 24px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 7px;
	margin-left: 0px;
	padding: 6px 18px;
}

/* #backlight-slider slider { */
/*     min-height: 0px; */
/*     min-width: 0px; */
/*     opacity: 0; */
/*     background-image: none; */
/*     border: none; */
/*     box-shadow: none; */
/* } */
/* #backlight-slider trough { */
/*     min-height: 10px; */
/*     min-width: 40px; */
/*     border-radius: 5px; */
/*     background-color: black; */
/* } */
/* #backlight-slider highlight { */
/*     min-width: 10px; */
/*     border-radius: 5px; */
/*     background-color: red; */
/* } */

#clock {
    color: #deaded;
    /* background-color: #282828; */
    border-radius: 0px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /* font-family: "Noto Sans CJK KR Regular"; */
    /*border-left: solid 1px #282738;*/
}
#custom-weather {
    color: #deaded;
    /* background-color: #282828; */
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 8px;
    padding: 10px 10px;
    font-weight: bold;
}
#network {
    background-color: rgba(30, 30, 46, 0.5);
    color: #fe91f0;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#wireplumber {
    background-color: rgba(30, 30, 46, 0.5);
    color: #FABD2D;
    border-radius: 24px 0px 0px 24px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 0px;
    padding: 0px 10px 0px 15px;
    font-weight: bold;
}

#backlight {
    background-color: rgba(30, 30, 46, 0.5);
    border-radius: 0px;
    color: #fff7fc;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#bluetooth{
    background-color: rgba(30, 30, 46, 0.5);
    color: #fff73b;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#tray {
    /* background: #282828; */
    /* background: rgba(102,102,255,0.7); */
    background: rgba(30, 30, 46, 0.5);
    color: #FABD2D;
    margin: 7px 5px 9px 5px;
    border-radius: 24px;
    padding: 4px 12px;
    /*border-right: solid 1px #282738;*/
}

#battery {
    background-color: rgba(30, 30, 46, 0.5);
    color: #adc8ff;
    border-radius: 0px 24px 24px 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 5px;
    padding: 0px 15px 0px 10px;
    font-weight: bold;
}

#taskbar {
    background-color: rgba(14,47,68,0.4);
    margin: 7px 5px 7px 5px;
    border-radius: 20px;
    padding: 1px 9px 1px 2px;
    /*border-right: solid 1px #282738;*/
}

#taskbar button {
    padding: 6px 0px 6px 14px;
    /* border-radius: 16px; */
    color: #928374;
}

#taskbar button.active {
    background-color: rgba(120,118,117,0.8);
    border-radius: 24px;
}

#taskbar.empty {
    /* background-color: rgba(30, 30, 46, 0.5); */
    background: transparent;
    border-radius: 24px;
    padding: 2px 2px;
    /* border-right: solid 1px #282738; */
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 0px 24px 24px 0px;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
    border-radius: 0px 24px 24px 0px;
}

window#waybar.empty #window {
    background-color: transparent;
}

#disk {
    background-color: rgba(30, 30, 46, 0.5);
    color: #e06666;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-right: 0px;
    margin-left: 0px;
    /* margin-right: 5px; */
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#temperature {
    background-color: rgba(30, 30, 46, 0.5);
    color: #FABD2D;
    border-radius: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    /* border-right: solid 1px #282738; */
}

#cpu {
    background-color: rgba(30, 30, 46, 0.5);
    color: #7ac2e0;
    border-radius: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    /* border-right: solid 1px #282738; */
}

#memory {
    background-color: rgba(30, 30, 46, 0.5);
    color: #6666ff;
    border-radius: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #f4d9e1;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-launcher {
    color: #e5809e;
    background-color: #282828;
    border-radius: 0px 24px 0px 0px;
    margin: 8px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;
}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: #282828;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#window {
    /* background: #282828; */
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    background: rgba(30, 30, 46, 0.3);
    color: #ecd032;
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-style: italic;
}

#custom-wf-recorder {
    padding: 0 20px;
    color: #e5809e;
    background-color: #1E1E2E;
}

#custom-hyprpicker {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
